<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
<link rel="stylesheet" href="user/style.css"></link>
</head>

<body>
    <h1>Login into your account</h1>
    <form action="/test" method="post">
        <input name="name" type="text" id="name">
        <input name="password" type="password" id="password">
        <input type="submit">
    </form>
    <a href="signup">create account</a>
</body>


</html>