<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="user/style.css" />
    <link rel="icon" href="music/icons/icon.png" />


</head>

<body>
    <h1>Login into your account</h1>
    <form action="/test" method="post">
        <input name="name" type="text" id="name">
        <input name="password" type="password" id="password">
        <input type="submit">
    </form>
    <a href="signup">create account</a>
</body>

<script>
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    if (getCookie("seen") != "true") {
        alert("This is a test site. Please do not put actual information onto this site.");
        document.cookie = "seen=true";

    }
    if (localStorage.getItem('user') == "nope") {
        let check = false
        test = document.createElement('p')
        test.innerHTML = "try again"
        document.body.append(test)
    }else{
        check=true
    }
    // Check if a key exists in local storage
    if (localStorage.getItem('user') !== null && check == true) {
        // The key exists in local storage
        if (localStorage.getItem != "nope") {
            window.location.replace("user/" + localStorage.getItem('user'))
        }
    }
</script>

</html>