<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
</body>
<script th:inline="javascript">

    var jsVar = [[${ check }]];
    console.log(jsVar);
    var name = [[${ test }]];
    console.log(name);
    if (jsVar == true) {
        window.location.replace("/user/" + name + "?playlist=")
        localStorage.setItem('user', name)
    } else {
        document.write("please eneter correct user details")
        window.location.replace("/")
        localStorage.setItem('user', 'nope')

    }
</script>

</html>