<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>

<body>
    <h1>Create your account</h1>
    <form method="post" action="/submit-form">
        <label for="name">Name:</label>
        <input max="15" maxlength="15" type="text" id="name" name="name"><br>
        <label for="pass">Password:</label>
        <input type="pass" id="pass" name="pass"><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>