<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Music Player</title>
    <script src="https://kit.fontawesome.com/fb27aa5521.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../music/style.css" />
    <link rel="icon" href="../music/icons/icon.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div id="data"></div>
    <header class="container-fluid mb-3">
        <div class="row">
            <div class="col-md-2">
                <select class="form-select" id="playlist-select" aria-label="Select playlist">
                    <option selected>Select Playlist</option>
                </select>
            </div>
            <div class="col-md-4">
                <a id="link" href="../newplaylist" class="btn btn-primary">New Playlist</a>
            </div>
            <div class="col-md-6 text-end">
                <p th:text="${name}"></p>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section id="playlist-songs">
                    <h1 class="h3 mb-3">Tracks</h1>
                    <p class="mb-3" id="total-songs">total number of songs:</p>
                    <div id="playlist-container">
                        <ol id="playlist-tracks"></ol>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section id="music-section">
                    <div class="d-flex align-items-center">
                        <img id="music-image" src="" class="me-3 rounded" style="width: 100px; height: 100px;" />

                        <div>
                            <h2 id="title" class="h5 mb-1">Title:</h2>
                            <p id="artist" class="mb-0">Artist: </p>
                            <p id="queue">todo</p>
                        </div>
                    </div>
                    <section id="controls-section">
                        <audio preload="metadata" id="audio">
                            <source
                                src="https://cdn.glitch.global/cd6fb2ed-715d-4dc3-ac15-e67735a547a2/01-Mundane%20cityscape.mp3?v=1685491608165"
                                type="audio/mpeg" />
                        </audio>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group" role="group" aria-label="Playback Controls">
                                <button type="button" class="btn btn-secondary">
                                    <i class="fas fa-backward"></i>
                                </button>
                                <button type="button" class="btn btn-primary" id="play-button">
                                    <i class="fas fa-play"></i>
                                </button>
                                <button type="button" class="btn btn-primary d-none" id="pause-button">
                                    <i class="fas fa-pause"></i>
                                </button>
                                <button type="button" class="btn btn-secondary">
                                    <i class="fas fa-forward"></i>
                                </button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Playback Options">
                                <button id="shuffleButton" type="button" class="btn btn-outline-secondary">
                                    <i id="shuffle-icon" class="fas fa-random"></i>
                                </button>
                                <button id="loopButton" type="button" class="btn btn-outline-secondary">
                                    <i id="loop-icon" class="fas fa-redo"></i>
                                </button>
                            </div>
                        </div>
                        <p id="no-more"></p>
                        <p id="length" class="mb-0">Length:</p>
                    </section>
                </section>
            </div>
        </div>
    </div>

    <footer class="container-fluid mt-3">
        <div class="row">
            <div class="col text-center">
                <p id="wronguser" th:text="${wronguser}"></p>
                <p id="usercreation" th:text="${usercreation}"></p>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript">
        var playlist = [[${ playlist }]];
        var user = [[${ name }]]
        /////////////////////////////////////////////////////////////////////////////////////

    </script>
    <script src="../music/setup/styling.js"></script>
    <script src="../music/setup/user.js"></script>
    <script src="../music/setup/local.js"></script>
    <script src="../music/setup/playlist.js"></script>
<script>

console.log(window.location.pathname.substring(6,window.location.pathname.length)
)
</script>
</body>

</html>